
<form class="checkout-screen container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 payment-methods">
      loading payment methods
    </div><!-- end radios -->

    <div class="col-12 col-md-6 products">
      <ul class="products-list"></ul>
      <div class="cart-total"></div>
    </div><!-- end products -->
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="user-name">Name</label>
        <input id="user-name" type="text" class="form-control" name="user-name" placeholder="Max Mustermann" />
      </div>

      <div class="form-group">
        <label for="user-street">Street</label>
        <input id="user-street" type="text" class="form-control" name="user-street" placeholder="Beispielstraße 42" />
      </div>

      <div class="form-group">
        <label for="user-city">ZIP and City</label>
        <input id="user-city" type="text" class="form-control" name="user-city" placeholder="5446 Börlin" />
      </div>
    </div><!-- end user -->

    <div class="col-12 col-md-6 text-right">
      <div class="row">
        <div class="col-6">
          <button class="btn btn-default checkout-cancel">Cancel</button>
        </div>
        <div class="col-6">
          <button class="btn btn-primary checkout-buy">Buy</button>
        </div>
      </div>
    </div><!-- end buttons -->
  </div>
</form>