<div class="checkout-screen">
  <form>
    <div class="total-price-info">
      <h4>Total Price:</h4>
    </div>
    <fieldset class="payment-info">
      <legend>Choose Payment</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="payment-visa" value="option1"> 
          <img src="./../static/assets/images/visa-icon.png" alt="visa-icon">
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="payment-paypal" value="option2">
          <img src="./../static/assets/images/paypal-icon.png" alt="Paypal-icon">
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="payment-bitcoin" value="option3">
           <img src="./../static/assets/images/bitcoin-icon.png" alt="Bitcoin-icon">
        </label>
      </div>
    </fieldset>
    <div class="address-info">
      <label for="confirm-address">Confirm Address:</label>
      <input type="text" class="form-control" id="customer-name" placeholder="Customer Name">
      <input type="text" class="form-control" id="customer-street" placeholder="Customer Street">
      <input type="text" class="form-control" id="customer-postcode" placeholder="Customer PostCode">
    </div>
    <button type="submit" class="btn btn-secondary">Buy</button>
  </form>
</div>
