<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">MyShop</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" data-id="-1" data-name="All" href="#">All products</a>
      </li>
    </ul>
  </div>

<!--   <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form> -->

   <div class="right">
    <ul class="shopping-nav">
      <li class="cart">
        <a href="#" id="cart" class="cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">0</span></a>
    </ul>
    </div> 
</nav>


  <div class="shopping-cart">
    <div class="shopping-cart-header">
      <i class="fa fa-shopping-cart cart-icon"></i>Total products: <span class="badge">3</span>
      <div class="shopping-cart-total">
        <span class="lighter-text">Total price:</span>
        <span class="total"></span>
      </div>
    </div> <!--end shopping-cart-header -->

    <ul class="shopping-cart-items">
    </ul>

    <button type="button" class="btn btn-dark btn-block">Checkout</button>
    <button type="button" class="btn btn-danger emptyCart btn-block">Remove all products</button>
  </div> <!--end shopping-cart -->
