<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <title>Nacho's Server</title>
</head>

<body>
  <h1><%= err %></h1>

<img src="https://cdn.thinglink.me/api/image/581535506223857665/1240/10/scaletowidth">

</body>

</html>
