@import './custom-bootstrap';

.card {
  margin-top: $grid-gutter-width * 0.5;
  margin-bottom: $grid-gutter-width * 0.5;
}

.shop- {
  &carousel {
    height: 50vh;
    min-height: 200px;

    &-description {
      padding: $grid-gutter-width * 0.5;
    }

    &-description h2{
      color: #fff;
      text-align: center;
    }
  }
}

.carousel {
  margin-top: 55px;
}

.carousel-inner {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.infobox {
  margin: 50px 20px;
}

.bg-light {
    background-color: transparent !important;
}

.modal-lorem, .modal-total {
  margin: 20px;
}

.modal-content img {
  margin: 10px auto;
  max-width:80%;
}

.detailsButton {
  margin: 0 5px;
}

$main-color: #6394F8;
$light-text: #ABB0BE;


@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

*, *:before, *:after {
  box-sizing: border-box;
}


nav {
  .navbar-right {
    float: right;
  }
  ul {
    
    li {
      display: inline;
      margin: auto auto;
      vertical-align:middle;
      a {
        color: #fff;
        text-decoration: none;
        
        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

#products-grid {
  position:absolute;
}

.shopping-nav {
  margin:0;
  padding:0;
}

.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
  position: fixed!important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 16px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
  z-index:10;
  margin: 20px 0;
  right:10px;
  top:50px;
  background: white;
  width: 380px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
  
  
  .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
    
    .shopping-cart-total {
      float: right;
    }
  }
  
  .removeItem {
    margin: 15px;
  }

  .shopping-cart-items {
    
    padding: 20px 0;

      li {
        margin-bottom: 18px;
        list-style-type: none;
      }

    img {
      float: left;
      margin-right: 12px;
    }
    
    .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
    }
    
    .item-price {
      color: $main-color;
      margin-right: 8px;
    }
    
    .item-quantity {
      color: $light-text;
    }
  }
   
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: $main-color;
  color:white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
  
  &:hover {
    background: lighten($main-color, 3%);
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.cart-img {
  max-width:100px;
  max-height:auto;
}


  
  



